@import url("https://fonts.googleapis.com/css2?family=Maiden+Orange&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: radial-gradient(
    68.35% 68.35% at 50% 50%,
    #1c3659 0%,
    #0a1e38 100%
  );
}

button:hover {
  box-shadow: 0 0 10px 0 #fecbce inset, 0 0 10px 2px #fecbce;
  border: 0 solid #fecbce;
}

.image {
  width: 100px;
}
